body {
  background: rgba(70,124,187);
  background: -moz-linear-gradient(left,  rgba(70,124,187,1) 0%, rgba(167,80,132,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(70,124,187,1) 0%,rgba(167,80,132,1) 100%);
  background: linear-gradient(to right,  rgba(70,124,187,1) 0%,rgba(167,80,132,1) 100%);
}

.container {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}

.starting_buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.back_to_menu {
  margin-top: 10px;
  margin-left: 44%;
}